{% extends "_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<button data-tooltip-target="tooltip-flecha" data-tooltip-trigger="hover" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"  onclick = "history.back ()">
    <img src="{% static 'img/flecha-izquierda.png' %}" class="h-6 mr-3 sm:h-9" alt="">
  </button>
  <div id="tooltip-flecha" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Volver
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div class="flex flex-col items-center justify-center mx-0 md:h-screen lg:py-0">  
    <div class="w-auto max-w-lg bg-light-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-700 dark:border-gray-700">
            <div href="#" class="flex items-center p-6 mb-2 mt-8 text-2xl font-semibold text-gray-900 dark:text-white">
              <img class="w-20 h-20 rounded h-8 mr-2 mt-auto" src="{% static 'img/logomigueautos.png' %}" alt="logo">
            </div> 
              <div class="p-5">
            
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{% trans "Verify Your E-mail Address" %}</h5>
                {% url 'account_email' as email_url %}
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% trans This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you
                verify ownership of your e-mail address.%} </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% trans We have sent an e-mail to you for
                verification. Please click on the link inside that e-mail. If you do not see the verification e-mail in your main inbox, check your spam folder. Otherwise
                contact us if you do not receive it within a few minutes.%} </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %} </p>
        </div>
    </div>        
</div>
<p></p>


{% endblock %}
