{% load static %}
<div id="menu_verical" class="menu pointerCursor hide">


</div>
<div class="container flex justify-center mx-auto">
  <div x-data="{ open: false }" @mouseleave="open = false" class="relative">
      <!-- Dropdown toggle button -->
      <button  @mouseover="open = true" class="flex items-center p-2 bg-transparent rounded-t">
        <img src="{% static 'img/accessibility_white_24dp.svg'%}" alt=""/> 
      </button>

      <!-- Dropdown menu -->
      <div x-show="open"
      x-transition:enter.duration.700ms
      x-transition:leave.duration.700ms
      class="absolute right-0 py-2 bg-transparent rounded-b shadow-xl">
      <button data-tooltip-target="tooltip-aumentar" data-tooltip-trigger="hover" type="button" id="aumentar">
        <img class="w-25" src="{% static 'img/zoom-in-line.svg' %}" alt="" />
      </button>
      <div id="tooltip-aumentar" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Aumentar
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
      <button data-tooltip-target="tooltip-disminuir" data-tooltip-trigger="hover" type="button" id="disminuir">
        <img class="w-25" src="{% static 'img/zoom_out_black_24dp.svg' %}" alt="" />
      </button>
      <div id="tooltip-disminuir" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Disminuir
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
      <button data-tooltip-target="tooltip-restaurar" data-tooltip-trigger="hover" type="button" id="restaurar">
        <img class="w-25" src="{% static 'img/restart.svg' %}" alt="" />
      </button>
      <div id="tooltip-restaurar" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Restaurar
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
  </div>
</div>
</div>
<script type="text/javascript" charset="utf8" src="{% static 'js/cdn.alpine.min.js' %}"></script>
<script type="text/javascript">
  let classes = ["f0", "f1", "f2", "f3", "f4"];
  let classIndex = 2;
  
  document.getElementById("aumentar").addEventListener("click", () => {
    let previousClass = classIndex;
    classIndex++;
    classIndex = classIndex == classes.length ? classes.length - 1 : classIndex;
    changeClass(previousClass, classIndex);
  });

  document.getElementById("disminuir").addEventListener("click", () => {
    let previousClass = classIndex;
    classIndex--;
    classIndex = classIndex < 0 ? 0 : classIndex;
    changeClass(previousClass, classIndex);
  });

  let changeClass = (previous, next) => {
    if (previous != next) {
      let htmlElement = document.querySelector("html");
      htmlElement.classList.remove(classes[previous]);
      htmlElement.classList.add(classes[next]);
    }
  };
  document.getElementById("restaurar").addEventListener("click", () => {
    location.reload();
  });
  changeClass();
  const cuerpo = document.body;
  
</script>