<footer class="block w-full p-4 bg-white rounded-lg shadow print:hidden md:px-6 md:py-8 dark:bg-gray-900">
    <span class="block text-sm text-gray-500 button sm:text-center dark:text-gray-400">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">© 2022 </font>
        </font><a href="" class="disabled hover:underline">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">JJMAV™</font>
            </font>
        </a>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> . </font>
            <font style="vertical-align: inherit;">Reservados todos los derechos.
            </font>
        </font>
    </span>
</footer>