{% extends "_base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block title %} Factura {% endblock title %}

{% block content %}
<button data-tooltip-target="tooltip-flecha" data-tooltip-trigger="hover" type="button"
    class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
    onclick="history.back ()">
    <img src="{% static 'img/flecha-izquierda.png' %}" class="h-6 mr-3 sm:h-9" alt="">
</button>
<div id="tooltip-flecha" role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Volver
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div class="container flex flex-wrap justify-center gap-10 overflow-hidden max-h-max">
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">


        <h1 class="px-2 mb-2 font-sans text-xl font-bold text-center break-normal dark:text-white lg:mt-0 md:text-2xl">
            {{titulo_pag}}
        </h1>
        <!--Card-->
        <!-- form -->
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div id="div_id_usuario" class="mb-3"> <label for="id_usuario"
                        class="block mb-2 text-sm font-bold text-gray-700">
                        Usuario<span class="asteriskField">*</span> </label>
                    <div class="mb-3">
                        <div class="relative">
                            <select
                                class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none select1 js-example-basic-single focus:outline-none"
                                name="usuario ">
                                <option value="">---------</option>
                                {% for usuarios in usuario %}
                                <option value="{{usuarios.id}}">{{usuarios.identificacion}}</option>
                                {% endfor %}

                            </select>

                        </div>
                    </div>
                </div>
                <div id="div_id_vehiculo" class="mb-3"> <label for="id_vehiculo"
                        class="block mb-2 text-sm font-bold text-gray-700">
                        Vehiculo<span class="asteriskField">*</span> </label>
                    <div class="mb-3">
                        <div class="relative">
                            <select
                                class="block w-full px-4 py-2 leading-normal text-gray-700 bg-white border border-gray-300 rounded-lg appearance-none js-example-basic-single select2 focus:outline-none"
                                name="vehiculo">
                                <option value="">---------</option>
                                
                                {% for vehiculo in vehiculos %}
                                    <option data-index-number="{{vehiculo.usuario_id}}" value="{{vehiculo.id}}">{{vehiculo.placa}}</option>
                                {% endfor %}
                                    
                                
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button type="submit"
                        class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
                        value="Enviar informacion">
                        Agregar usuario
                    </button>

                </div>

            </form>
        </div>
    </div>
    <div
        class="max-w-full p-6 overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md col dark:bg-gray-800 dark:border-gray-700">
        <!-- table -->
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-4 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table id="tabla" class="min-w-full text-sm text-left text-gray-500 rounded-sm dark:text-gray-400">
                        <thead class="text-xs text-gray-700 bg-light-white dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    usuario
                                </th>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    vehiculo
                                </th>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    valor
                                </th>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    decision
                                </th>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    Estado
                                </th>
                                <th scope="col" class="px-6 py-4 text-sm font-medium text-black">
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for facturas in base_datos %}
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                                    {{facturas.usuario}}
                                </th>
                                <td class="px-6 py-4">{{facturas.vehiculo}}</td>
                                <td class="px-6 py-4">{{facturas.valor}}</td>
                                <td class="px-6 py-4">{{facturas.decision}}</td>
                                <td class="px-6 py-4">{{facturas.estado}}</td>

                                <td class="flex justify-around px-6 py-4 text-right">
                                    {% comment %} Editar {% endcomment %}
                                    <a href="{% url 'factura_estado' facturas.id facturas.estado %}"
                                        data-modal-toggle="popup-modal" title="Inactivo"
                                        class="font-medium text-light-white md:hover:text-blue-700 dark:text-blue-500"><svg
                                            class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                clip-rule="evenodd"></path>
                                        </svg>
                                    </a>
                                    {% comment %} Eliminar {% endcomment %}

                                    {% if usuario.estado == 'Activo' %}



                                    {% else  %}
                                    <a href="{% url 'detalle' facturas.id %}" data-tooltip-target="tooltip-bottom"
                                        data-tooltip-placement="bottom" type="button"
                                        class="font-medium text-light-white md:hover:text-blue-700 dark:text-blue-500 hover:underline"
                                        type="button" data-modal-toggle="popup-modal">
                                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z">
                                            </path>
                                        </svg>
                                    </a>
                                    <div id="tooltip-bottom" role="tooltip"
                                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                        compras de la factura
                                        <div class="tooltip-arrow" data-popper-arrow></div>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Búsqueda-->

<!--Tabla-->
{% endblock content %}
{% block extrajs %}
<script>
    $(document).ready(function () {
        var $select1 = $('.select1'),
            $select2 = $('.select2'),
            $options = $select2.find('option');
        $select1.on('change', function () {
            $select2.html($options.filter('[data-index-number="' + this.value + '"]'));
        }).tigger('change');
    });
    $(document).ready(function () {
        $('.js-example-basic-single').select2({
            language: "es"
        });
        
    });
</script>
{% endblock extrajs %}