{% extends "_base.html" %}
{% load static %}
{% block title %} Manual de ayuda {% endblock title %}
{% block content %}
<button data-tooltip-target="tooltip-volver" data-tooltip-trigger="hover" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-0 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"  onclick = "history.back ()">
    <svg class="h-8 mr-3 sm:h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path></svg>
  </button>
  <div id="tooltip-volver" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Volver
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div class="container mx-auto">
    <div class="text-center">
        <h1 class="pt-5 text-3xl font-bold">
                <span class=" dark:text-white text-sky-500">Manual de ayuda</span>
                
            </h1>
            <p class="pt-5 text-3xl font-display">
                        <span class="dark:text-text-gray-700 ">Bienvenido usuario, aquí le explicamos como ingresar a nuestro sistema.</span>
                    </p>
            </div>
            
            <div class="block p-6 grid grid-cols-2 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        
            
                <div  class="blockmax-w-sm  p-6 bg-white border border-gray-200 rounded-lg shadow-md max-w hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        
                        <h5 class="mb-2 text-1xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Como acceder al sistema.</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Si no tiene un usuario creado debe registrarse, selecciona en registrarse, ingresa un correo válido y una contraseña que tenga mayúsculas,minúsculas y números ya que es obligatorio, a su correo le enviaremos un link de confirmación para que pueda iniciar sesión.</p>
                        <img class="w-20" src="{% static 'img/registrarse.jpg' %}" alt=""></img>
                    </div>
                
                
                    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-1xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Como cambiar contraseña si se le olvidó.</h5>
                        <p class="font-normal text-gray-700 dark:text-gray-400">Selecciona en "olvidó su contraseña" e ingresa su correo electronico válido, selecciona en enviar e-mail y ahí le enviamos un link para que restablezca su contraseña.</p>
                        <div class="grid grid-cols-2 max-w-sm ">
                        <img class="w-20" src="{% static 'img/restablecer contrase.jpeg' %}" alt=""></img>
                        <img class="w-20" src="{% static 'img/restablecer  contraseña.png' %}" alt=""></img>
                        </div>
                    </div>
                    
                    
           
          
            
        </div>
    </div>
{% endblock content %}